* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
  color: #222;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items:  center;
  padding: 25px 80px;
  border-bottom: 1px solid #eee;
}
.navbar nav .logo{
  display: inline;
  margin-right: 15px;
}
.navbar nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #777;
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons img {
  border-radius: 50%;
}

/* Product */
.product {
  display: flex;
  gap: 80px;
  padding: 60px 120px;
}

.gallery {
  width: 45%;
}

.main-img {
  width: 100%;
  border-radius: 15px;
}

.gallery-images {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.gallery-images img {
  width: 80px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
}

.gallery-images img:hover {
  border-color: orange;
  opacity: 0.5 ;
}

/* Info */

.info {
  width: 45%;
}

.brand {
  color: orange;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12px;
}

.info h2 {
  margin: 10px 0;
}

.info p {
  color: #666;
  font-size: 12px;
  line-height: 1;
}

.price {
  margin: 25px 0;
}

.price strong {
  font-size: 26px;
}

.discount {
  background: #ffe5d0;
  color: orange;
  padding: 3px 8px;
  border-radius: 6px;
  margin-left: 10px;
  font-size: 14px;
}

.price small {
  display: block;
  text-decoration: line-through;
  color: #aaa;
}

/* Actions */

.actions {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.counter {
  display: flex;
  align-items: center;
  background: #f7f7f7;
  border-radius: 10px;
}

.counter button {
  color: orange;
  padding: 15px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.counter span {
  padding: 0 20px;
}

.cart-btn {
  background: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

/*Media Responsive Tablet */
@media (max-width: 1024px) {
  .navbar {
    padding: 20px 40px;
  }

  .product {
    gap: 40px;
    padding: 40px;
  }

  .info h2 {
    font-size: 26px;
  }
}

/*Media Responsive Mobile */
@media (max-width: 768px) {
  body{
    position: absolute;
  }
  .navbar {
    padding: 20px;
  }

  .navbar nav a {
    display: none; 
  }

  .product {
    flex-flow: wrap column ;
    padding: 10px;
  }
  .gallery #main{
    position: relative;
    top: 50%;
    left: 50%;
    text-align: center;
  }
  .gallery-images {
    justify-content: start;
  }
  .info{
    width: 100%;
    text-align: center;
  }
  .price {
    flex-flow: wrap row;
    align-items: flex-start;
    gap: 10px;
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .actions .counter{
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .actions .cart-btn{
    padding: 15px;
  }
}

/*Media Responsive small Mobile */
@media (max-width: 480px) {
  .info h2 {
    font-size: 22px;
  }

  .products-Overflow {
    width: 65px;
  }
}